<h1>
    <span data-i18n="skills.my_skills">Hey, I'm Clem.</span>
</h1>
<div>
    <p>Passionate software developer producing efficient applications, for the web and mobile, using best practices and innovative technologies I genuinely enjoy using.</p>
    <p>I strive for maintainable products using clean and efficient codebases, in a team where everything from development to deployment run smoothly, using a set of agreed standards, tools and processes.</p>
    <p>Naturally curious, I'm an ever-learner and I've had the chance to develop various skills along the years. From web to mobile technologies, through getting interested into devops while overseeing the technique of a team. However, one thing remains: enjoying producing good quality and meaningful products.</p>
</div>
