<h1>
    <span data-i18n="skills.my_skills">Experience</span>
</h1>
{% for experience in site.data.index.experiences %}
    <div class="row">
        <div class="col">
            <h2>{{ experience.title }}</h2>
            <h3>{{ experience.subtitle }}</h3>
            <p><em>{{ experience.description }}</em></p>
            {% if experience.website %}
                <a href="{{ experience.website }}" target="_blank" rel="nofollow"><i class="fa fa-fw fa-home"></i>Homepage</a>
            {% endif %}
            {% if experience.github %}
                <a href="{{ experience.github }}" target="_blank" rel="nofollow"><i class="fa fa-fw fa-github"></i>GitHub</a>
            {% endif %}
            {% if experience.link %}
                <a href="{{ experience.link }}" target="_blank" rel="nofollow"><i class="fa fa-fw fa-link"></i>{% if experience.link-title %}{{ experience.link-title }}{% else %}Read more{% endif %}</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
