<script src="{{ site.url }}/js/chart-2.6.0.min.js"></script>
<h1>
    <span data-i18n="skills.my_skills">Skills</span>
</h1>
<canvas id="{{ site.data.index.skills.id }}" style="background-color: #fff; padding: .25rem; border: 2px solid #80cbc4; border-radius: .25rem;"></canvas>
<script>
    var ctx = document.getElementById("{{ site.data.index.skills.id }}");
    var data = {
        labels: "{{ site.data.index.skills.aspects }}".split(","),
        datasets: [{
            label: "{{ site.data.index.skills.label }}",
            backgroundColor: "rgba(128, 203, 196, 0.2)",
            borderColor: "#80cbc4",
            pointBackgroundColor: "#80cbc4",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#80cbc4",
            pointHoverBorderColor: "#80cbc4",
            data: [{{ site.data.index.skills.percentage }}]
        }]
    };
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: data,
        options: {
            scale: {
                responsive: true,
                ticks: { min: 0, max: 100 },
                lineArc: false,
                pointLabels: { fontSize: 14 },
            },
            scaleFontSize: 0,
            legend: { display: false },
        }
    });
</script>
<div class="row">
    <div class="col">
        <br /><br />
        <div>
            <strong>Technologies:</strong>
        </div>
        <p>
            PHP 4+, Laravel 4.2+, Symfony 2, Magento 1, Magento 2, Drupal 7, Silverstripe 3+, OOP, MVC, MVVM, Git, Javascript, Appcelerator Titanium + Alloy MVC, Push Notifications, Node.js, Grunt, Gulp, Backbone.js, PHPUnit, Selenium, MySql, SQLite, Elasticsearch, Redis, Docker, Rackspace Cloud, AWS, Docker Compose, Vagrant, LAMP, Deployer and more...
        </p>
    </div>
</div>
