{% comment %}
<script src="{{ site.url }}/js/chart-2.6.0.min.js"></script>
<h1>
    <span data-i18n="skills.my_skills">Skills</span>
</h1>
<canvas id="{{ site.data.index.skills.id }}" style="background-color: #fff; padding: .25rem; border: 2px solid #80cbc4; border-radius: .25rem;"></canvas>
<script>
    var ctx = document.getElementById("{{ site.data.index.skills.id }}");
    var data = {
        labels: "{{ site.data.index.skills.aspects }}".split(","),
        datasets: [{
            label: "{{ site.data.index.skills.label }}",
            backgroundColor: "rgba(128, 203, 196, 0.2)",
            borderColor: "#80cbc4",
            pointBackgroundColor: "#80cbc4",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#80cbc4",
            pointHoverBorderColor: "#80cbc4",
            data: [{{ site.data.index.skills.percentage }}]
        }]
    };
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: data,
        options: {
            scale: {
                responsive: true,
                ticks: { min: 0, max: 100 },
                lineArc: false,
                pointLabels: { fontSize: 14 },
            },
            scaleFontSize: 0,
            legend: { display: false },
        }
    });
</script>
{% endcomment %}

<div class="row">
    <div class="col">
        <h1>
            <span data-i18n="skills.my_skills">Skills & Technologies</span>
        </h1>
        <div>{{ site.data.index.skills.core | markdownify }}</div>
        <div class="wrap-collabsible">
            <input id="collapsible" class="toggle" type="checkbox">
            <label for="collapsible" class="lbl-toggle primary-text-color">Show more</label>
            <div class="collapsible-content">
                <div class="content-inner">
                    {{ site.data.index.skills.extended | markdownify }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3><small>Other skills</small></h3>
        {{ site.data.index.skills.skills | markdownify }}
    </div>
</div>

<hr/>
